


<table cellpadding="0" cellspacing="0" border="0" align="center" width="640" style="width: 640px; min-width: 640px;" role="presentation" bgcolor="#FFFFFF">
  <tr>
    <td height="60" style="line-height:60px;min-height:60px;">
    </td>
  </tr>
  </table>
  <table bgcolor="#383e56" cellpadding="0" cellspacing="0" border="0" align="center" width="640" style="width: 640px; min-width: 640px;" role="presentation" class="table-container ">
  <tr>
    <td height="35" style="line-height:35px;min-height:35px;">
    </td>
  </tr>
  </table>
  <table bgcolor="#383e56" cellpadding="0" cellspacing="0" border="0" align="center" width="640" style="width: 640px; min-width: 640px;" role="presentation" class="table-container ">
  <tr>
    <td height="35" style="line-height:35px;min-height:35px;">
    </td>
  </tr>
  </table>
  <table cellpadding="0" width="640" style="width: 640px; min-width: 640px;" cellspacing="0" border="0" role="presentation" align="center" bgcolor="#383e56">
  <tbody>
  <tr>
    <td>
      <table cellpadding="0" width="220" cellspacing="0" border="0" role="presentation" align="center" bgcolor="#383e56">
      <tbody>
      <tr class="social-icons">
        <td style="padding:0 10px 0 10px;">
          <a href="<%= parametresEmail.images.facebook.lien %>" target="_blank"><img src= "<%- `${parametresEmail.urlBoutique}/${parametresEmail.images.facebook.image}` %>" alt="facebook logo" width="30" height="30" class="social-icon"></a>
        </td>
        <td style="padding:0 10px 0 10px;;">
          <a href="<%= parametresEmail.images.tweeter.lien %>" target="_blank"><img src="<%- `${parametresEmail.urlBoutique}/${parametresEmail.images.tweeter.image}` %>" alt="Tweeter logo" width="30" height="30" class="social-icon"></a>
        </td>
        <td style="padding:0 10px 0 10px;">
          <a href="<%= parametresEmail.images.linkedIn.lien %>" target="_blank"><img src="<%- `${parametresEmail.urlBoutique}/${parametresEmail.images.linkedIn.image}` %>" alt="LinkedIn logo" width="30" height="30" class="social-icon"></a>
        </td>
        <td style="padding:0 10px 0 10px;">
          <a href="<%= parametresEmail.images.instagram.lien %>" target="_blank"><img src="<%- `${parametresEmail.urlBoutique}/${parametresEmail.images.instagram.image}` %>" alt="Instagram logo" width="30" height="30" class="social-icon"></a>
        </td>
      </tr>
      </tbody>
      </table>
    </td>
  </tr>
  </tbody>
  </table>
  <table bgcolor="#383e56" cellpadding="0" cellspacing="0" border="0" align="center" width="640" style="width: 640px; min-width: 640px;" role="presentation" class="table-container ">
  <tr>
    <td height="35" style="line-height:35px;min-height:35px;">
    </td>
  </tr>
  </table>
  <table bgcolor="#383e56" cellpadding="0" cellspacing="0" border="0" align="center" width="640" style="width: 640px; min-width: 640px;" role="presentation" class="table-container ">
  <tr>
    <td style="color:#FFFFFF; font-size:14px; line-height:22px; text-align:center;border:none;font-weight:bold;">
      <%= parametresEmail.adresseBoutique %>  <br>
       © 2024 <%= parametresEmail.nomDeBoutique %> . <br>
      
    </td>
  </tr>
  </table>
  <table bgcolor="#383e56" cellpadding="0" cellspacing="0" border="0" align="center" width="640" style="width: 640px; min-width: 640px;" role="presentation" class="table-container ">
  <tr>
    <td height="60" style="line-height:60px;min-height:60px;">
    </td>
  </tr>
  </table>
  <table bgcolor="#CCCCCC" cellpadding="0" cellspacing="0" border="0" align="center" width="640" style="width: 640px; min-width: 640px;" role="presentation" class="table-container ">
  <tr>
    <td height="1" style="line-height:1px;min-height:1px;">
    </td>
  </tr>
  </table>
  <table bgcolor="#f1f1f1" cellpadding="0" cellspacing="0" border="0" align="center" width="640" style="width: 640px; min-width: 640px;" role="presentation" class="table-container ">
  <tr>
    <td height="40" style="line-height:40px;min-height:40px;">
    </td>
  </tr>
  </table>
  
  <!--Bottom Section Ends Here -->
  <!--Main Td  Ends Here -->
</td>
</tr>
</tbody>
<!--Main Parent Table Ends Here -->
</table>
</body>
</html>
